{% extends "RiverPlate/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Títulos de River Plate</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h2>LISTADO DE TÍTULOS</h2>
<ul>

    <br>
    <a class="btn btn-primary" href="{% url 'titulos_crear'  %}">Agregar título</a>
    <br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Año Obtención</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for titulo in titulos %}
          <tr>
            <th scope="row">{{ titulo.titulo }}</th>
            <td>{{ titulo.ano_obtencion }}</td>
            <td>
                <a class="btn btn-danger" href="{% url 'titulos_borrar' titulo.id %}">Borrar</a>
                <a class="btn btn-success" href="{% url 'titulos_editar' titulo.id %}">Editar</a>
            </td>
          </tr>
    
          {% endfor %}
        </tbody>
      </table>

{% endblock %}