{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">AUTORIDADES DEL CLUB ATLÉTICO RIVER PLATE</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h2>AUTORIDADES</h2>
<ul>

    {% for autoridad in object_list %}
    <li>
        
        {{ autoridad }}

       
    </li>
    <a class="btn btn-danger" href="{% url 'autoridades_borrar' autoridad.id %}">Borrar</a>
    <a class="btn btn-success" href="{% url 'autoridades_editar' autoridad.id %}">Editar</a>
    
    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'autoridades_crear'  %}">Agregar autoridad</a>
    
    <a class="btn btn-primary" href="{% url 'autoridadMensaje' autoridad.pk %}">Ingresar un mensaje</a>

</ul>
<h3>{{ mensaje }}</h3>

{% endblock %}